@page "/"

<PageTitle>Ramcor</PageTitle>

@using Ramcor.Shared.Components

<div class="left">
    <CodePageComponent/>
    <EncodePageComponent/>
    <DecodePageComponent/>
</div>
<div class="right">
    <PhoneticAlphabetComponent/>
</div>
