@page "/"
@using Ramrod.Shared.Components

<PageTitle>Ramrod</PageTitle>

<div class="left">
    <CodePageComponent/>
    <EncodePageComponent/>
    <DecodePageComponent/>
</div>
<div class="right">
    <PhoneticAlphabetComponent/>
</div>