@using Ramcor.Data
@inject RamcorService RamcorService

@if (!string.IsNullOrEmpty(Message) && !string.IsNullOrEmpty(CodedMessage) && PhoneticMessage != null)
{
    <table>
        @for (int i = 0; i < PhoneticMessage.Count(); i++)
        {
            <tr>
                <td class="good_td">@char.ToUpper(Message[i])</td>
                <td class="good_td">@char.ToUpper(CodedMessage[i])</td>
                <td class="good_td">@PhoneticMessage[i].ToUpper()</td>
            </tr>
        }
    </table>
}

@code {
    [Parameter]
    public string? Message { get; set; }
    
    [Parameter]
    public string? CodedMessage { get; set; }
    
    [Parameter]
    public string[]? PhoneticMessage { get; set; }
}
