@using System.Reflection
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Kód megadása
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Encode">
                <span class="oi oi-plus" aria-hidden="true"></span> Kódolás
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Decode">
                <span class="oi oi-plus" aria-hidden="true"></span> Dekódolás
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PhoneticAlphabet">
                <span class="oi oi-plus" aria-hidden="true"></span> Fonetikus ABC
            </NavLink>
        </div>
    </nav>
</div>
<div>
    <label style="position:absolute; bottom:2rem;">@($"Version number:{Version}")</label>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string? Version = Assembly
        .GetExecutingAssembly()
        .GetCustomAttribute<AssemblyInformationalVersionAttribute>()?
        .InformationalVersion;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
