@using Ramcor.Data.Models

<label>Közlemény: @Message.Text</label><br/>
<label>@Text: @Message.ProcessedText</label><br/>
<label>Használt kódszó: @Message.Codeword</label><br/>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public Message Message { get; set; }
}
