@using Ramcor.Data.Models

@if (!string.IsNullOrEmpty(Code.CodeWord))
{
    <div>
        <label>Aktuális kód: </label>
        <table>
            <tr>
                @for (int i = 0; i < 10; i++)
                {
                    <td>@i</td>
                }
            </tr>
            <tr>
                @foreach(var character in Code.CodeWord)
                {
                    <td>@character</td>
                }
            </tr>
        </table>
    </div>
}

@code
{
    [Parameter]
    public RamcorCode Code { get; set; }
}
